* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: #edea51;
}

#menu {
    margin-top: 10px;
    width: 30vw;
    border-radius: 20px;
    overflow: hidden;
}

.menu-item {
    display: flex;
    flex-direction: column;
    background-color: #fc68b2;
}

a {
    color: white;
    text-decoration: none;
    overflow: hidden;
    padding-left: 10px;
    font-size: 50px;
}

.sub {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.menu-item:target .header {
    background-color: #cf5b5c;
}

.menu-item:target .header:last-child {
    background-color: #fc68b2;
}

.menu-item:target .sub {
    height: 300px;
}

.menu-item:target .menu-item.sub {
    height: 100em;
}

.submenu-item {
    position: relative;
    padding: 1em 2em;
    background-color: #1973a5;
    width: 100%;
}