<section id="card"
    [ngClass]="{'cheapest-journey':this.journey.tourPrice==this.minPrice, 'most-expensive-journey':this.journey.tourPrice==this.maxPrice}">
    <div id="photo-container">
        <img [src]="journey.previewImage" alt="Photo">
    </div>
    <div id="content-with-buttons">
        <div id="description">
            <p>Where? {{journey.journeyName | uppercase}}</p>
            <p>Country: {{journey.destinationCountry | uppercase}}</p>
            <p>Starting date: {{journey.startDate}}</p>
            <p>Ending date: {{journey.endDate}}</p>
            <p>Price: ${{journey.tourPrice}}</p>
            <p *ngIf="journey.maxTickets > 0" [ngClass]="{'small-amount-of-tickets': this.journey.maxTickets <= 3}">
                Available quantity: {{journey.maxTickets}}</p>
            <p class="small-amount-of-tickets" *ngIf="journey.maxTickets == 0">NO AVAILABLE TRIPS!</p>
            <p>Description: {{journey.description}}</p>
        </div>
        <app-journey-rating [ngStyle]="{'width': '100%'}"></app-journey-rating>
        <div id="buttons">
            <button (click)="removeJourney()" id="remove-journey-button">REMOVE</button>
            <button (click)="addReservation()" class="add-reservation-button" (click)="addToCart()"
                [ngClass]="{'lack-of-tickets': this.journey.maxTickets == 0}">+</button>
            <button (click)="removeReservation()" class="remove-reservation-button" (click)="removeFromCart()"
                [ngClass]="{'max-amount-of-tickets': this.journey.maxTickets == this.maxTickets}">-</button>
        </div>
    </div>
</section>