*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: whitesmoke;
}

nav {
    display: flex;
    flex-flow: column;
    flex: 1.2;
    align-items: center;
    background-color: white;
    height: 100vh;
    border-right: 1px solid black;
}

main {
    flex: 5;
}

nav > div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vw;
    border-radius: 0% 5% 5% 0%;
    color: #0000ff;
    padding-left: 5%;
}

nav div img {
    width: 30px;
    height: 30px;
    padding-right: 5%;
    flex: 1;
}

nav div img {
    filter: invert(8%) sepia(99%) saturate(6660%) hue-rotate(247deg) brightness(102%) contrast(142%);
}

nav div:hover img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(290deg) brightness(104%) contrast(101%);
}

nav div:hover {
    background-color: #1f93a0;
}

nav div span {
    flex: 6;
}

#number {
    margin-left: 0.5vw;
    margin-right: 2vw;
    color: #1f93a0;
    align-items: center;
    height: 2rem;
    border-radius: 1rem;
    background-color: white;
    color: green;
    padding: 5%;
    border: 1px solid #1f93a0;
}

main {
    margin: 1rem;
    background-color: white;
    height: 100vh;
}

#paragraph {
    font-size: 12px;
}

nav div span {
    font-size: 1.2vw;
}

@media screen and (max-width: 800px) {
    nav div span {
        visibility: hidden;
    }
    body nav {
        transition: 2s ease;
        flex: 1;
    }
    body main {
        flex: 100;
    }
    #number {
        position: relative;
        right: 7vw;
        width: 3.5vw;
        height: 3.5vw;
        margin: 0;
        transition: 2s ease;
    }
}