* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(216, 237, 238);
}

#entire-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

#header {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 5%;
    font-size: max(3vw, 30px);
}

#backslash {
    color: cornflowerblue;
}

#card-with-buttons {
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

aside>button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 0;
    background-color: gray;
    cursor: pointer;
    margin-top: 4vw;
}

aside>button:hover {
    background-color: black;
}

#image-container {
    display: flex;
    align-items: center;
    border: 5px solid white;
    box-shadow: 2px black;
    box-shadow: 0px 0px 5px 5px rgb(204, 201, 201);
    border-radius: 50%;
}

#image {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
}

#name {
    color: cornflowerblue;
}

article {
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
}

footer>p {
    content: "\201D";
    text-align: center;
    color: cornflowerblue;
    font-size: max(50px, 5vw);
}

#card>div {
    display: flex;
    justify-content: center;
}

.arrow-button {
    height: 50%;
    width: 50%;
}

.arrow-button--l {
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    transform: translateX(25%) rotate(45deg);
}

.arrow-button--r {
    border-top: 3px solid white;
    border-right: 3px solid white;
    transform: translateX(-25%) rotate(45deg);
}

#bottom-button {
    border: 0;
    background-color: gray;
    padding: max(3px, 1%);
    border-radius: 10px;
    width: 12em;
    cursor: pointer;
}

#bottom-button:hover {
    background-color: black;
}

#bottom-button>p {
    width: 100%;
    color: white;
    padding: max(1%, 3px);
}

@keyframes leftIn {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rightOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-300px);
    }
}

@keyframes leftOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}

@keyframes rightIn {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes randomIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes randomOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}