* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 400px;
    background-color: lightgray;
    padding: 2%;
    gap: 10px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    border: 2px solid black;
}

#counter-container,
#button-container {
    width: 80%;
}

#counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    background-color: white;
    font-size: 50px;
    font-weight: bold;
    border: 10px solid black;
}

#button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20%;
    flex: 1;
}

button {
    flex: 1;
    height: 50%;
    border: 5px solid black;
    border-radius: 10px;
    cursor: pointer;
    word-spacing: 100vw;
}

button:hover {
    filter: brightness(80%);
}

#button2 {
    font-size: 12px;
    font-weight: bold;
}