* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50px;
    background-color: rgb(48, 165, 223);
}

#logo {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    letter-spacing: 3px;
}

#logo>p1 {
    font-weight: 700;
}

#logo>p2 {
    font-weight: lighter;
}

#menu-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
}

#menu {
    display: flex;
    list-style-type: none;
    width: 30vw;
    height: inherit;
    gap: 20px;
}

#menu>li {
    display: flex;
    align-items: center;
    width: inherit;
    color: white;
    height: 100%;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 50px;
}

.dropdown-content a {
    width: 15vw;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#dropdown-box {
    display: flex;
    align-items: center;
    color: rgb(48, 165, 223);
}

#dropdown-box>p {
    margin-right: 25px;
}

.dropdown:hover>.dropdown-content {
    display: block;
}

#button-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 200px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 2px 20px 2px 20px;
    font-size: 14px;
    flex: 1;
    white-space: nowrap;
    height: 30px;
}

.button:hover {
    cursor: pointer;
}

#button1 {
    color: white;
    border: 3px solid white;
}

#button2 {
    background-color: white;
    color: rgb(105, 156, 227);
}

#photo {
    width: 100vw;
    height: 887px;
    background-image: linear-gradient(rgba(98, 180, 227, 0.6), rgba(98, 180, 227, 0.6)), url('bg.jpg');
}

@media screen and (max-width: 1100px) {
    #logo {
        padding-left: 10px;
        padding-right: 10px;
        letter-spacing: 0;
    }

    #menu-container {
        font-size: max(1.2vw, 10px);
    }

    #button-container {
        margin-right: 20px;
    }

    .button {
        font-size: 10px;
        padding: 2px 10px 2px 10px;
    }
}

@media screen and (max-width: 600px) {
    nav {
        gap: 10px;
        justify-content: center;
    }

    #button-container {
        display: none;
    }
}