* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: blueviolet;
    height: max(20px, 5vw);
    align-items: center;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
    height: 100%;
    width: 100%;
}

div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 200px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

div:hover {
    background-color: purple;
}

nav a.active {
    background-color: purple;
}