section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    border: 1px solid rgb(209, 209, 209);
    padding: 16px;
    border-radius: 10px;
    text-align: center;
}
section > button {
    padding: 16px 8px;
    cursor: pointer;
    background-color: rgb(226, 70, 146);
    border-radius: 30px;
    border-style: none;
    color: white;
}

section > button:hover {
    background-color: black;
}