* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cormorant SC', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

#main-flex-container {
    display: flex;
    width: 100vw;
    height: 30vw;
    background-color: #057aec;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    justify-content: space-between;
}

#div1 {
    display: flex;
    flex-direction: column;
    flex: 55;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    justify-content: center;
    gap: 8%;
    margin-left: 5vw;
    margin-right: 2vw;
}

#div2 {
    display: flex;
    justify-content: flex-end;
    flex: 45;
}

section div h1 {
    color: white;
    font-size: 3vw;
}

section div p {
    color: white;
    font-size: 16px;
} 

#button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    width: 9.5vw;
    border: 1px solid white;
    padding: 2% 4% 2% 4%;
    font-size: 1vw;
    border-radius: 0.5vw;
}

#button div {
    text-align: center;
}

form h1 {
    color: gray;
    font-size: 2.5vw;
    padding-top: 4%;
    flex: 150;
}

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1vw;
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 4vw;
    right: 4vw;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
}

form div input {
    border-style: hidden;
    font-size: 2vw;
    outline: none;
}

.form-element {
    flex: 100;
    padding-top: 5%;
    padding-bottom: 5%;
}

form hr {
    flex: 1;
    width: 25vw;
}

#button1 {
    display: flex;
    background-color: #057aec;
    color: white;
    align-self: flex-start;
    flex: 100;
    margin-bottom: 2vw;
    margin-top: 2vw;
    margin-left: 2.5vw;
    width: 12vw;
    border-radius: 0.5vw;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}


@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(200px);
    }

    80%{
        opacity: 0.8;
        transform: translateX(-15px);
    }

    100%{
        opacity: 1;
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }

    80%{
        transform: translateX(15px);
    }

    100%{
        opacity: 1;
    }
}

@media screen and (max-width:1100px) {
    #main-flex-container {
        flex-direction: column;
        justify-content: flex-start;
    }
    #div1 {
        flex: 99;
    }
    #div2 {
        flex: 1;
    }
    form {
        position: absolute; 
        top: 40vw;
        right: 35vw;
    }
    #button {
        width: max(15vw);
        padding: 1%;
        justify-content: center;
    }
    #button div {
        font-size: max(1vh, 10px);
        text-align: center;
    }
    #main-flex-container {
        height: 50vw;
    }
    #main-flex-container p {
        font-size: min(2.5vw, 50px);
    }
    .form-element {
        padding-top: 1%;
        padding-bottom: 1%;
    }
}
