<h1>Informacje</h1>
<p>Podaj imię aktora</p>
<input [(ngModel)]="imie" placeholder="np. Grzegorz">
<p>Podaj nazwisko aktora</p>
<input [(ngModel)]="nazwisko" placeholder="np. Rogus">
<p>Podaj ulubiony film</p>
<input [(ngModel)]="tytul" placeholder="np. kurs JS">
<p>Ulubione imię aktora to: {{imie}}</p>
<p>długość imienia: {{imie.length}}</p>
<p>imię dużymi literami: {{imie.toUpperCase()}}</p>
<p>{{2+2}}</p>
<p>{{a}}</p>
<p>{{window}}</p>
<p>Ulubione nazwisko aktora to: {{nazwisko}}</p>
<p>Ulubiony film aktora to: {{tytul}}</p>