<div id="form-container">
    <h1>Add new journey!</h1>
    <form [formGroup]="journeyForm" (ngSubmit)="addJourney()">
        <input type="text" placeholder="journey name" formControlName="name">
        <input type="text" placeholder="country" formControlName="country">
        <input type="date" placeholder="starting date" formControlName="startDate">
        <input type="date" placeholder="ending date" formControlName="endDate">
        <input type="number" placeholder="price ($)" formControlName="price">
        <input type="number" placeholder="available places" formControlName="tickets">
        <input type="text" placeholder="description" formControlName="description">
        <input type="text" placeholder="image link" formControlName="image">
        <button type="submit" [disabled]="!journeyForm.valid">ADD</button>
    </form>
</div>