#filter-container {
    width: 800px;
    margin: auto;
    text-align: center;
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.filter-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input {
    height: 20px;
    border: none;
    border-radius: 5px;
}

#reset-filters-button {
    margin-top: 20px;
}

#reset-filters-button:hover {
    filter: brightness(80%);
    cursor: pointer;
}
