<div id="filter-container">
    <h1>Filter section</h1>
    <form>
        <!-- filtering place -->
        <section class="filter-section">
            <h2>Place</h2>
            <input id="name" name="journeyName" [(ngModel)]="journeyName" [ngModel]="filterJourneyName(journeyName)">
        </section>
        <!-- filtering country -->
        <section class="filter-section">
            <h2>Country</h2>
            <input id="country" name="country" [(ngModel)]="country" [ngModel]="filterDestinationCountry(country)">
        </section>
        <!-- filtering price -->
        <section class="filter-section">
            <app-range-slider [minValue]="minPrice" [maxValue]="maxPrice"></app-range-slider>
        </section>
        <!-- filtering dates -->
        <section class="filter-section">
            <label for="starting-date">Starting date:</label>
            <input type="date" id="starting-date" name="startDate" [(ngModel)]="startDate" (input)="onDatesChange()">
            <label for="ending-date">Ending date:</label>
            <input type="date" id="ending-date" name="endDate" [(ngModel)]="endDate" (input)="onDatesChange()">
        </section>
        <button id="reset-filters-button" (click)="resetFilters()">RESET</button>
    </form>
</div>