#basket {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: lightblue;
    width: 40vw;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#cost {
    font-weight: 600;
}