* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 5vw;
    border-radius: 10px;
}

.small_quantity {
    background-color: rgb(253, 64, 64);
}

.big_quantity {
    background-color: green;
}