* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.div-with-content, .empty-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 900px;
    height: 100px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 0 10px lightgray;
    margin: auto;
}