<nav>
    <div class="menu-item">
        <a class="link" routerLink="/">
            <h1>Hi Sky Travel</h1>
        </a>
    </div>
    <div class="menu-item">
        <a class="link" routerLink="/journeys">Trips</a>
    </div>
    <div class="menu-item">
        <a class="link" routerLink="/add-journey">Add a journey</a>
    </div>
    <div class="menu-item">
        <a class="link" routerLink="/cart">Cart</a>
    </div>
    <div class="menu-item">
        <a class="link" routerLink="/history">Your shopping</a>
    </div>
    <div class="menu-item">
        <a class="link" routerLink="/history">User</a>
    </div>
</nav>
