#container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.rating {
    font-size: 36px;
    color: #ccc;
}

.star {
    cursor: pointer;
    text-shadow: 0px 0px 1px black;
}

.filled {
    color: gold;
}