* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#booked-journeys-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 100px;
    border-radius: 10px;
    margin: auto;
}

.small-quantity {
    background-color: rgb(253, 64, 64);
}

.big-quantity {
    background-color: rgb(35, 198, 35);
}