<nav>
    <div class="menu-item">
        <a routerLink="/">
            <div class="logo">
                <h1>Hi Sky Travel</h1>
            </div>
            </a>
    </div>
    <div class="menu-item">
        <a routerLink="/journeys">Oferty</a>
    </div>
    <div class="menu-item">
        <a routerLink="/journeys">O nas</a>
    </div>
    <div class="menu-item">
        <a routerLink="/addnewjourney">Dodaj wycieczkę</a>
    </div>
    <div class="menu-item">
        <a routerLink="/basket">Koszyk</a>
    </div>
    <div class="menu-item">
        <a routerLink="/history">Historia</a>
    </div>
</nav>
