#basket {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: lightblue;
    width: 40vw;
    -webkit-box-shadow: 0 0 10px gray;
    box-shadow: 0 0 10px gray;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#cost {
    font-weight: 600;
}