.photo {
    width: 600px;
    height: 400px;
    position: absolute;
}

#photo1 {
    border: 5px solid red;
}

#photo2 {
    border: 5px solid blue;
}

#photo3 {
    border: 5px solid green;
}

#button {
    position: absolute;
    top: 450px;
    font-size: 50px;
}